h1 {
  font-family: Verand;
  Font-weight: Norma;
  Font-size: 50px;
  Color: White;
  text-align: center;
}
h2 {
  color:Aquamarine;
  font-size: 16px
  text-align:center;
}

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
  }
